:root {
    --colorblue: #366cb3;
    --colorbeige: #fff5e6;
    --colorred: #ff010a;
    --colorlightblue: #4b97fb;
    --coloryellow: #FFFA58;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./images/criss-cross.png);
    background-size: cover;
    color: var(--colorbeige);
}
/* Header / Nav bar start */
header {
    padding: 7px 25px;
    /* background-color: var(--colorbeige); */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-image: url(./images/DetroitSkyline.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    border-bottom: 2px solid var(--colorlightblue);
    align-items: center;
    z-index: 10;
}

header h1 {
    font-weight: bold;
    margin: 0%;
    font-size: 5.5em;
    color: var(--colorbeige);
    /* text-shadow: 0 0 10px var(--colorlightblue); */
}

header a {
    font-size: 1.2em;
    text-decoration: none;
    color: var(--colorbeige);
}

header nav {
    font-weight: bold;
    margin: 0px 0px -15px 0px;
    color: var(--colorlightblue);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0px 40px;
}

header nav ul li a {
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2em;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--colorbeige);
    color: var(--colorlightblue);
    border-radius: 5px;
    text-shadow: none;
}
/* Header / Nav bar end */

/* about me section */
.about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-image: url(./images/DetroitSkyline.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    padding: 20px;
    color: white;
     -webkit-text-stroke: .5px powderblue; 
}

.about-cta {
    text-align: left;
    color:var(--colorbeige);
    font-size: 1.9em;
    line-height: 1.2;
}

.about-cta h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: var(--colorbeige);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about-cta img {
    margin: 0px 14%;
    border-radius: 30px;
    width: 75%;
    height: 45vw;
}

.about2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.about2 p {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgba(54, 108, 179, 0.5);
    border-radius: 10PX;
    border: outset;
}

/* about me section end */

/* projects section start */
.projects {
    background: var(--colorlightblue);
}

.projects h2 {
    margin: 0 auto;
    font-weight: bold;
    font-size: 4.5em;
    text-align: center;
    background-color: var(--colorblue);
    color: var(--colorbeige);
    border-bottom: 2px solid var(--colorbeige);
}

.runbuddy {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--colorlightblue);

}

.runbuddy h3 {
    font-size: 2em;
    border-bottom: 1px solid var(--colorbeige);
    text-align: center;
    margin: 0;
    width: 70;
}

.runbuddy img {
    width: 75%;
    padding: 5px;

}

.projects div img {
    width: 100%;
    padding: 7px;
}

.hrg {
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--colorlightblue);
}

.horiseon {
    width: 50%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.robotgladiators {
    width: 50%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}


.projects div h3 {
    font-size: 1.5em;
    border-bottom: 1px solid;
    text-align: center;
    margin: 0;
    width: 70;

}


/* projects section end */

/* Resume start */




/* Resume End */

/* footer section start */

footer {
    padding: 5px 10px;
    background-color: var(--colorblue);
    color: var(--colorbeige);
    font-size: 1.9em;

}

footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: var(--colorbeige);

}

footer div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}

footer div ul li {
}

/* footer section end */

 /* Media Query for phones(landscape) and smaller tablets */

 @media screen and (min-width:767px) {
     header {
         justify-content: space-evenly;
     }

     .about-cta img {
         height: 35vw;
     }
}

/* Media Query for large tablets and smaller laptops */

@media screen and (min-width:1059px) {
    .about-cta img {
        height:25vw
    }
}